@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à Hortifruti do Torin!</h1>
    <p>As melhores frutas e verduras, fresquinhas para você.</p>

    <p class="mt-4">
        <a class="btn btn-success btn-lg" asp-controller="Produtos" asp-action="Index">Ver Nossos Produtos</a>
    </p>

</div>